<!--<h2 style="margin: 0;padding: 0;">Add Medicine</h2>-->

<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">Add Medicine</h3>
	</div>
	<!-- /.box-header -->
	<div class="box-body">
		<br>
		<form name="Medicine">
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<label for="medicinename">Medicine Name</label>
						<input type="text" class="form-control col-sm-3" id="medicinename" ng-model="medicine.medicineName">
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label for="category">Category</label>
						<select class="form-control col-sm-3" id="category" ng-model="medicine.categoryId">
					<option value="{{categoryName.id}}" ng-repeat="categoryName in categoryNames">{{categoryName.CategoryName}}</option>
				</select>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label for="supplier">Supplier</label>
						<select class="form-control col-sm-3" id="category" ng-model="medicine.supplierId">
							<option value="{{supplier.id}}" ng-repeat="supplier in suppliers">{{supplier.supplierName}}</option>
						</select>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label for="dosage">Dosage</label>
						<input type="text" class="form-control col-sm-3" id="dosage" ng-model="medicine.dosage">
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label for="manufacturer">Manufacturer</label>
						<input type="text" class="form-control col-sm-3" id="manufacturer" ng-model="medicine.manufacturer">
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label for="desc">Description</label>
						<input type="text" class="form-control col-sm-3" id="desc" ng-model="medicine.description">
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label for="gst">GST(%)</label>
						<input type="text" class="form-control col-sm-3" id="gst" ng-model="medicine.gst">
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label for="disc">Discount</label>
						<input type="text" class="form-control col-sm-3" id="disc" ng-model="medicine.discount">
					</div>
				</div>
			</div>

			<br/>
			<br/>

		</form>
	</div>
	<!-- /.box-body -->
	<div class="box-footer">
		<button type="submit" class="btn btn-success" ng-click="medicineSave(medicine)" ng-show="Add">Save</button>
		<button type="submit" class="btn btn-success" ng-click="medicineUpdate(medicine)" ng-show="Update">Update</button>
		<button type="button" class="btn btn-default">Cancel</button>
	</div>
</div>
